<ng-container>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <app-title>
          <h1 class="title">
            Crear Proyecto
          </h1>
          <h2 class="subtitle">Formulario crear proyecto</h2>
        </app-title>
        <div class="tile is-parent">
          <article class="tile is-child notification is-light">

            <app-create-form-project></app-create-form-project>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <app-title>
          <h1 class="title">
            Lista Proyectos
          </h1>
          <h2 class="subtitle">Listado de proyectos</h2>
        </app-title>
        <div>

        </div>
      </div>
    </div>
  </section>

</ng-container>
